.center_td {
    text-align: center;
    vertical-align: middle;
}

#table_universities tr {

    border-collapse: separate;
    border-spacing: 0 5px;
}

#td_name {
    width: 60%;
}

#node_header{

     font-size: 11pt;
    font-weight: bold;

}

#spec_div{

    margin-left: 20pt;
}

#node_desc{


}

.spec_li{

    margin-bottom: 10pt;
}

#td_average, #td_price {

    width: 20%;
    text-align: center;
    vertical-align: middle;
}

.selector_location {

    width: 100%;
    margin-left: -10pt;
}

#p1_salary {
    width: 93%;
    margin-left: -10pt;
    text-align: center;
    vertical-align: middle;

}

#location_name{

    /* text-align: center;
    vertical-align: middle;*/
        margin-top: -20pt;
    margin-left: 12pt;
}

#bottom_div_map{


}

#inform_content{

    width: 100%;
    /*text-align: center;
    vertical-align: middle;*/
}

#block-locations {

    display: inline-block;
}

#block-locations img {

    display: block;
}

#table_universities {

    width: 100%;
    margin-left: 7pt;
}

#location_text {

    color: black;
    font-size: 10pt;
}

#university_name {

    margin-right: 15pt;
    /*width: 93pt;*/
    color: black;
    border-bottom: 1px solid black;
}

#p_border {

    color: gray;
}

#p_avg_salary {

    color: gray;
    text-align: center;
    vertical-align: middle;
}

.main_div{

    margin-right: 0pt;
    margin-left: 0pt;
}

.p_value {

    text-align: center;
    vertical-align: middle;
    font-size: 20pt;
}

.bottom_div{

    margin-bottom: 10pt;
}

#label_dormitory {

    font-weight: inherit;
}

#search_img {

    height: 10pt;
    position: absolute;
    margin-top: 25pt;
    margin-left: 64pt;

}

#search_field {

    margin-top: 20pt;
    margin-left: 61pt;
    border-radius: 10pt;
    padding-left: 13pt;
    border: 1px;
    border-style: solid;
    border-color: lightgrey;
}

#cb_dominatory {

    margin-left: -3pt;
}

#test_pppp{

    display: none;
    visibility: hidden;
}

.selector_redion {

    margin-left: -10pt;
    width: 93%;
}

.selector_university {

    margin-left: -3pt;
    width: 92%;
}

.selector_crime_level {

    margin-left: 4pt;
    width: 92%;
}

#header {
    /* text-align: center;
   vertical-align: middle;*/
    margin-bottom: 15pt;
}

#btn_add_exam {

    margin-left: 2pt;
}

#p_td {

    font-size: 20pt;
}

#subjects_div {

    margin-top: 20pt;
}

#subjects_btn_div {

    margin-top: 20pt;
}

#subitem_div {

    width: 50%;
    margin-left: -10pt;
}

#slogan {

    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 15pt;
}

.input_subjects {
    text-align: center;
    vertical-align: middle;
    margin-left: 0pt;
    width: 100%;

}

#p1 {
    font-size: 13pt;
    font-weight: 300;
}

select {

    width: 100%;
    padding-left: 10pt;
    padding-top: 3pt;
    padding-bottom: 3pt;
    padding-right: 10pt;
}

/*    */

#img_grade {

    width: 47pt;
    margin-top: 11pt;
    margin-top: 11pt;
}

#header_div {

    margin-left: -37pt;
}

#p2 {

    font-size: 15pt;
}


#subject_td_name{

    padding-left: 2pt;
}

#subject_td_mark{

     text-align: right;
     vertical-align: middle;
}

#table_subjects{

    width: 82%;
    margin-left: 45pt;
    margin-top: -10pt;
}

.list-group-item {

         border: 1px solid white;
}

a.univ_href:hover, a.univ_href:visited, a.univ_href:link, a.univ_href:active
{
    text-decoration: none;
}

/*{

    color: #FFFFFF;
    text-decoration: none;
}*/