{% extends "admin/base.html" %}
{% block branding %}
<h1 id="site-name">University picker</h1>
{% endblock %}

{% block nav-global %}
{% csrf_token %}
<input id="update" type="button" value="Update database" name="update_database">
<script src="/static/js/jquery.min.js"></script>
<script>
$(document).ready(function() {
	    console.log( "ready!" );

	    $("#update").click(function() {
		$("#update").prop("disabled", true);
		$.ajax({
			url: "/universities/fetchandmapjobstospecialties/",
			data: {update_database: 1},
			type: "GET",
			dataType: "json"
		})
		.done(function(json) {
			console.log("done");
            alert("Cities, Jobs, Specialties, their descriptions and descriptions of possible positions" +
            " for each specialty, were successfully fetched and added to the database!");
			$("#update").prop("disabled", false);
		})
		.fail(function() {
			console.log("fail");
		})
		.always(function() {
            alert("Cities, Jobs, Specialties, their descriptions and descriptions of possible positions" +
            " for each specialty, are being fetched and added to/updated in the database!");
			$("#update").prop("disabled", false);
		});
	    });
});
</script>

{% endblock %}