<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University Picker</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/static/css/univ_list.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap-treeview.js"></script>
    <script src="/static/js/detail_page_script.js"></script>
</head>
<body>


<div class="row main_div">
    <div class="col-md-11 col-md-offset-1">
        <div class="row">
            <div class="col-md-1">
                <img id="img_grade" src="/static/img/picker_grade.png">
            </div>
            <div id="header_div" class="col-md-5">
                <h1 id="header" style="padding-left: 10pt">University Picker</h1>
            </div>

            <div class="col-md-3 col-md-offset-3">

                <div>
                    <a href="#"><img id="search_img" src="/static/img/search.png"/></a>
                    <input id="search_field" type="text" placeholder="search"/>
                </div>
            </div>

        </div>
    </div>
</div>

{#---------------------------------------#}

<div class="row main_div">
    <div class="col-md-7 col-md-offset-1">

        <p title="{{ univ_id }}" id="p2">Innopolis University</p>


{#        <p id="test_par">Hello</p>#}
        
        
        <p><a id="univ_href" href="https://university.innopolis.ru/" target="_blank">https://university.innopolis.ru/</a></p>

        <p id="content_description"></p>

{#        <div>#}
{#            <p id="node_header">Возможные вакансии и уровень заработной платы по окончанию специальности</p>#}
{##}
{#            <p id="node_desc">#}
{#            <ul>#}
{#                <li class="spec_li">One</li>#}
{#            </ul>#}
{#            </p>#}
{#        </div>#}


        <div class="row">

            <div class="col-md-12">
                <p id="p_univ_name">Специальности университета и соответстующие им вакансии:</p>
                <div id="treeview2" class="treeview">
                    <ul class="list-group">
                        <li class="list-group-item node-treeview2" data-nodeid="0"
                            style="color:undefined;background-color:undefined;"><span
                                class="icon expand-icon glyphicon glyphicon-plus"></span><span
                                class="icon node-icon"></span>Parent 1
                        </li>
                        <li class="list-group-item node-treeview2" data-nodeid="5"
                            style="color:undefined;background-color:undefined;"><span
                                class="icon glyphicon"></span><span class="icon node-icon"></span>Parent 2
                        </li>
                        <li class="list-group-item node-treeview2" data-nodeid="6"
                            style="color:undefined;background-color:undefined;"><span
                                class="icon glyphicon"></span><span class="icon node-icon"></span>Parent 3
                        </li>
                        <li class="list-group-item node-treeview2" data-nodeid="7"
                            style="color:undefined;background-color:undefined;"><span
                                class="icon glyphicon"></span><span class="icon node-icon"></span>Parent 4
                        </li>
                        <li class="list-group-item node-treeview2" data-nodeid="8"
                            style="color:undefined;background-color:undefined;"><span
                                class="icon glyphicon"></span><span class="icon node-icon"></span>Parent 5
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6" style="height: 50pt">

            </div>
        </div>


    </div>

    <div class="col-md-2 col-md-offset-1">

        <div id="inform_content">

        <div id="block-locations">

            <img style="height: 9pt" src="/static/img/location.png">

        </div>

        <div id="block-locations">

            <p id="location_name"></p>

        </div>

        <div id="block-locations">

            <p id="location_name"> </p>

        </div>
    </div>

        <div class="bottom_div">

                        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:440px;width:200px;'><div id='gmap_canvas' style='height:440px;width:260px;'></div><div><small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small></div><div><small><a href="http://buyproxies.io/">buy proxy</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(55.7517163,48.747309900000005),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(55.7517163,48.747309900000005)});infowindow = new google.maps.InfoWindow({content:'<strong>Innopolis University</strong><br>Иннополис<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

        </div>

        <div class="bottom_div">

            <p id="p_avg_salary">avg salary in region, RUB</p>

            <p class="p_value" id="p_value_sal">75000</p>

        </div>

        <div class="bottom_div">

            <p id="p_avg_salary">crime level in region</p>

            <p class="p_value" id="p_value_crime_level">Lowest</p>

        </div>

{#        <table border="0" width="200pt">#}
{#            <tbody>#}
{#            <tr>#}
{#                <td id="subject_td_name">Information Technology</td>#}
{#                <td id="subject_td_mark">90</td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}

    </div>
</div>




</body>
</html>